<form mathod="POST" enctype="multipart/form-data" >
    <div class="mb-3">
        <label for ="" class="form-label">Nazwa firmy</label>
        <input 
        type="text" 
        name="name" 
        class="form-control  <%- errors?.name ? 'is-invalid' : '' %>" 
        required 
        id="name"
        value="<%- form.name%>"
        />
        <% if (errors?.name) { %> 
            <div class="invalid-feedback"><%= errors.name.message %></div>
         <% } %>
    </div>

    <div class="mb-3">
        <laber for="image" class="form-label">Zdjęcie</laber>
        <input type="file" name="image" class="form-control" id="image"/>
    </div>
    <div class="mb-3">
        <label for ="" class="form-label">Slug</label>
        <input
         type="text" 
         name="slug" 
         id="slug"
         class="form-control  <%- errors?.slug ? 'is-invalid' : '' %>" 
         required 
         value="<%- form.slug%>"
        />
        <% if (errors?.slug) { %> 
            <div class="invalid-feedback"><%= errors.slug.message %></div>
         <% } %>
    </div>
    <div class="mb-3">
        <label for ="" class="form-label">Liczba pracowników</label>
        <input 
        type="number" 
        name="empoyeesCount" 
        class="form-control" 
        value="<%- form.empoyeesCount%>"
        />    
    </div>
    <button class ="btn btn-primary"> <%-buttoText%>></button>  
</form>

<% if (typeof errors !== 'undefined') { %>
<div class=" alert alert-danger mt-3">
       Popraw dane w formularzu
</div>
<% } %> } 