<div class="row">
    <div class="col">
        <p>Wyników <%-companies.length %> na <%- resultsPageCount%></p>
        <nav>
            <ul class="pagination">
                <% for (let i= 0;  i <= pagesCount; i++ ) { %>
              <li class="page-item <%- page == i ? 'active' : '' %>">
                <a class="page-link" href="#" data-page="<%- i+1 %>"><%- i %> </a>
              </li>
              <% } %>
            </ul>
          </nav>
        
    </div>
</div>

