<h1> Lista firm:</h1>

<form>
    <%- include('partials/search')%>

    <% if (user) { %>
        <div class="row">
            <a href="/admin/firmy/dodaj" class="btn btn-success">Dodaj nową firmę</a>
        </div>
    <%}%>
    <div class="div-row">
        <div class="col-3">
        
                <%-include('partials/filter')%>
        </div>
        <div class="col-9">
            <% companies.forEach(company=> { %>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img src="/uploads/<%- company.image %>" className="img-fluid" alt="image" />
                            </div>
                            <div class="col-9">
                                <p class="h3 mb-4"><%= company.name %></p>
                                <p>Pracowników: <%= company.employeesCount %></p>
                                <p>Kontakt: <%- company.user?.email %></p>
                                <p>CEO: <%- company.user?.fullName %></p>
                            </div>
                        </div>
                    
                        <a href="/firmy/<%= company.slug %>" class="btn btn-primary">Zobacz</a>
                        <% if (user) { %>
                            <a href="/firmy/<%= company.slug %>/edytuj" class="btn btn-worning">Edytuj</a>
                            <a href="/firmy/<%= company.slug %>/usun" onclick="return confirm('Czy jesteś pewny?')" class="btn btn-danger">Usuń</a>
                        <%}%>

                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    
 <%- include('partials/pagination')%>

</form>
