<h1> Lista firm:</h1>

<form>
    <%- include('partials/search.ejs')%>

    <div class="div-row">
        <div class="col-3">
        
                <%-include('partials/filter')%>
        </div>
        <div class="col-9">
            <% companies.forEach(company=> { %>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <p class="h3 mb-4"><%= company.name %></p>
                        <p>Pracowników: <%= company.employeesCount %></p>
                        <a href="/firmy/<%= company.slug %>" class="btn btn-primary">Zobacz</a>
                        <a href="/firmy/<%= company.slug %>/edytuj" class="btn btn-worning">Edytuj</a>
                        <a href="/firmy/<%= company.slug %>/usun" onclick="return confirm('Czy jesteś pewny?')" class="btn btn-danger">Usuń</a>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    
</form>
