<h1> Lista firm:</h1>

<form>
    <%- include('partials/search.ejs')%>

    <div class="div-row">
        <div class="col-3">
            <form method="GET">
                <label for ="sort" class="form-label">Sortuj według:</p>
                    <select name="sort" id="sort" class=""form-control>
                        <option value="">Domyślnie</option>
                        <option value="name | asc"  <%- query.sort === 'name | asc' ? 'selected' : '' %> >A-Z</option>
                        <option value="name | desc"  <%- query.sort === 'name | desc' ? 'selected' : '' %> >Z-A</option>
                        <option value="empoyeesCount | asc"  <%- query.sort === 'empoyeesCount | asc' ? 'selected' : '' %>>Pracowników (rosnąco)</option>
                        <option value="empoyeesCount | desc"  <%- query.sort === 'empoyeesCount | desc' ? 'selected' : '' %>>Pracowników (malejąco)</option>

                    </select>
                    <button class="btn btn-primary mt-3">Zastosuj</button>
            </form>
        </div>
        <div class="col-9">
            <% companies.forEach(company=> { %>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <p class="h3 mb-4"><%= company.name %></p>
                        <a href="/firmy/<%= company.slug %>" class="btn btn-primary">Zobacz</a>
                        <a href="/firmy/<%= company.slug %>/edytuj" class="btn btn-worning">Edytuj</a>
                        <a href="/firmy/<%= company.slug %>/usun" onclick="return confirm('Czy jesteś pewny?')" class="btn btn-danger">Usuń</a>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    
</form>
